@tailwind base;
@tailwind utilities;
@tailwind components;

.header {
    display: flex;
    align-items: center;
    margin: 0 auto;
    padding: 1.5rem;
    border-style: solid;
    border-bottom: 1rem;
}

.header-emblem-wrapper {
    flex-shrink: 0;
}

.header-emblem {
    height: 7rem;
    width: 3rem;
}

.header-content {
    margin-left: 1.5rem;
}

.header-content-title {
    color: #1a202c;
    font-size: 1.25rem;
    line-height: 1.25;
}

.header-content-welcome {}

.header-hamburger-wrapper {
    flex-shrink: 0;
}

.header-hamburger {
    height: 3rem;
    width: 3rem;
}